@import "./components/page-title";
@import "./components/accordions";
@import "./components/forms";
@import "./components/modals";
@import "./components/buttons";
@import "./components/icon-selector";
@import "./components/pill-selector";
@import "./components/tables";
@import "./components/basic-tables";
@import "./components/typography";

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  border-top-color: rgb(250, 250, 252);
  border-left-color: rgb(250, 250, 252);
}

.ant-popover-title {
  background: rgb(250, 250, 252);
}