@import "./components/page-title";
@import "./components/accordions";
@import "./components/forms";
@import "./components/modals";
@import "./components/buttons";
@import "./components/icon-selector";
@import "./components/pill-selector";
@import "./components/tables";
@import "./components/basic-tables";
@import "./components/typography";
@import "./components/filters";
@import "./components/popovers";

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

.badge {
  padding: 0 8px;
  display: inline-block;
  border-radius: 100px;
  background-color: rgb(245,245,250);
  color: rgb(72,76,122);
  border: 1px solid rgb(214,214,231);
  margin-left: 8px;
}

.row-disabled {
  opacity: 0.5;
}