//.ant-btn-primary {
//  background-color: #46b98e;
//  border-color: #46b98e;
//
//  &:hover {
//    background-color: #2DA075;
//    border-color: #2DA075;
//  }
//}

.ant-btn {
  &.button-space-right {
    margin-right: 10px;
  }
}

.ant-btn-primary {
  background-color: rgb(84, 105, 212);
  border-color: rgb(84, 105, 212);

  &:hover {
    background-color: #3b50bb;
    border-color: #3b50bb;
  }
}

.button-yellow {
  background: #ffd814;
  border-color: #ffd814;
  color: #000;

  &:hover {
    background: #f7ca00;
    border-color: #f7ca00;
    color: #000;
  }
}
