.icon-selector {
  display: flex;
  justify-content: space-between;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ddeafb;
    border: 6px solid #ddeafb;

    img {
      width: 60%;
    }
  }

  .selected {
    .icon {
      background: #5d9cf4 !important;
    }
  }

  .caption {
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
  }
}
