.page-title {
  font-size: 30px;
  margin-bottom: 0;
}

.page-header {
  display: flex;

  h1 {
    flex-grow: 1;
  }

  .actions {
    flex-shrink: 1;

    .ant-btn {
      margin-left: 8px;
    }
  }
}
